mixin menus(menus)
  for value, key in menus
    if value.target
      a(target=value.target, href=value.href)= key
    else
      a(href=value)= key
      
mixin widget-inter(widget)
  if widget.jade
    != renderJade(widget.jade)
  else if widget.markdown
    != renderMarkdown(widget.markdown)
    
mixin widget(widget)
  if widget.tags
    .widget.tags
      != list_tags({show_count: false})
  else if widget.archives
    .widget.archives
      != list_archives()
  else if widget.copyright
    .widget.text-content
      p
        | 该博客使用基于 &nbsp;
        a(href='http://hexo.io') Hexo
        | &nbsp; 的 &nbsp;
        a(href='https://github.com/jysperm/hexo-theme-simpleblock') simpleblock
        | &nbsp; 主题。博客内容使用 &nbsp;
        a(href=theme.license.url) #{theme.license.name}
        | &nbsp; 授权发布。最后生成于 #{date(Date.now(), 'YYYY-MM-DD')}.
  else
    .widget.text-content
      +widget-inter(widget)
    
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if theme.favicon
      link(rel='icon', href=theme.favicon)
    if theme.rss
      link(rel='alternate', type='application/rss+xml', title=config.title href=theme.rss)
    link(rel='stylesheet', href='/styles.css')
    block head
      title= config.title
      
  body
    .container
      .columns.page-header
        h1= config.title
        
      .columns
        .navigation
          nav.menus-main
            if theme.icon
              a.favicon(href='/')
                img(alt=config.title, src=theme.icon)
                  
            +menus(theme.menus)
            
          if theme.right_menus
            nav.right.menus-right
              +menus(theme.right_menus)
            
      .columns
        .block-body.column.three-fourths
          block body
        .block-sidebar.column.one-fourth
          block sidebar
            for item in formatArray(theme.widgets)
              +widget(item)

    if theme.google_analytics_old
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{theme.google_analytics}', 'auto');
        ga('send', 'pageview');
    
    if theme.google_analytics
      script(src='https://www.googletagmanager.com/gtag/js?#{theme.google_analytics}')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{theme.google_analytics}');

    if theme.share_card 
      script(src='https://www.panshenlian.com/scripts/plugin/qrcode.min.js')
      script(src='https://www.panshenlian.com/scripts/plugin/share-card.js')

    if theme.giscus 
      script(src='https://giscus.app/client.js',
        data-repo="senlypan/blog",
        data-repo-id="R_kgDOG2Hl5g",
        data-category="General",
        data-category-id="DIC_kwDOG2Hl5s4COi-5",
        data-mapping="pathname",
        data-reactions-enabled="1",
        data-emit-metadata="0",
        data-input-position="bottom",
        data-theme="light",
        data-lang="zh-CN",
        crossorigin="anonymous",
        async)

    if theme.duoshuo
      script.
        window.duoshuoQuery = {short_name: '#{theme.duoshuo}'}
      script(src='https://static.duoshuo.com/embed.js')
        
    block footer
        .columns.footer-copyright
            p
                | © 2020-2022 panshenlian.com 版权所有 &nbsp; 
                a(href='https://beian.miit.gov.cn/') 豫ICP备2020034308号-1
                img.img-visitor-home(src="https://visitor-badge.glitch.me/badge?page_id=senlypan.blog")
